@keyframes show {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

.card-container {
    /* display: none; */
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
}

.card-container.show {
    /* display:block; */
    transition: max-height 0.3s ease-in;
    /* animation: show 1s linear 0s; */
    max-height: 9999px;
}


@keyframes ball {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}

.ball-animation {
    animation: ball 4s ease-in 0s both;
}