.youtubeContainer {
position: relative;
width: 100%;
height: 0;
padding-bottom: 56.25%;
}

.youtubeContainer iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

.youtube-player-wrapper {
    z-index: 40;
    position: fixed;
    margin: 0 auto;
}

.video-page .youtube-player-wrapper {
    width: 100%;
    max-width: 56rem;
    margin-bottom: 0.5rem;
}
.not-video-page .youtube-player-wrapper {
    left: 0;
    bottom: 2.5rem;
    width: 50%;
    max-width: 24rem;
}

@media (min-width: 640px) {
    .video-page .youtube-player-wrapper {
        position: absolute;
        left: 0;
        right: 0;
    }
    .not-video-page .youtube-player-wrapper {
        bottom: 0;
        width: 100%;
    }
}

.youtube-player-wrapper a {
    /* className='absolute top-0 right-0 bottom-0 left-0 w-full h-full opacity-50 hover:bg-gray-300' */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.video-page .youtube-player-wrapper a {
    display: none;
}